aiobotocore==latest
aiofiles==latest
aiohttp==latest
aioitertools==latest
aiosignal==latest
aiosqlite==latest
alabaster==latest
altair==5.3.0
anaconda-anon-usage==latest
anaconda-catalogs==latest
anaconda-client==latest
anaconda-cloud-auth==latest
anaconda-navigator==latest
anaconda-project==latest
anyio==latest
appdirs==1.4.4
applaunchservices==latest
appnope==latest
appscript==latest
argon2-cffi==latest
argon2-cffi-bindings==latest
arrow==latest
astroid==latest
astropy==latest
asttokens==latest
async-timeout==latest
atomicwrites==1.4.0
attrs==latest
Automat==latest
autopep8==latest
Babel==latest
backcall==latest
backports.functools-lru-cache==latest
backports.tempfile==latest
backports.weakref==1.0.post1
bcrypt==latest
beautifulsoup4==latest
binaryornot==latest
black==latest
bleach==latest
blinker==1.7.0
bokeh==latest
boltons==latest
botocore==latest
Bottleneck==latest
branca==0.7.1
brotlipy==0.7.0
cachetools==5.3.3
certifi==latest
cffi==latest
chardet==latest
charset-normalizer==latest
click==latest
cloudpickle==latest
clyent==1.2.2
colorama==latest
colorcet==latest
comm==latest
conda==latest
conda-build==latest
conda-content-trust==latest
conda-libmamba-solver==latest
conda-pack==latest
conda-package-handling==latest
conda-repo-cli==1.0.75
conda-token==latest
conda-verify==3.4.2
conda_index==latest
conda_package_streaming==latest
constantly==15.1.0
contourpy==latest
cookiecutter==latest
cryptography==latest
cssselect==1.1.0
cycler==latest
cytoolz==latest
dask==latest
datasets==latest
datashader==latest
datashape==0.5.4
debugpy==latest
decorator==latest
defusedxml==latest
diff-match-patch==latest
dill==latest
distributed==latest
docopt==0.6.2
docstring-to-markdown==latest
docutils==latest
entrypoints==latest
et-xmlfile==1.1.0
executing==latest
fastjsonschema==latest
filelock==latest
flake8==latest
Flask==latest
folium==0.16.0
fonttools==4.25.0
frozenlist==latest
fsspec==latest
future==latest
gensim==latest
gitdb==4.0.11
GitPython==3.1.43
glob2==latest
gmpy2==latest
google-auth==2.29.0
google-auth-oauthlib==1.2.0
graphviz==0.20.3
greenlet==latest
gspread==6.1.0
h5py==latest
HeapDict==latest
holoviews==latest
httplib2==0.22.0
huggingface-hub==latest
hvplot==latest
hyperlink==latest
idna==latest
imagecodecs==latest
imageio==latest
imagesize==latest
imbalanced-learn==latest
importlib-metadata==latest
incremental==latest
inflection==0.5.1
iniconfig==latest
intake==latest
intervaltree==latest
ipykernel==latest
ipython==8.12.3
ipython-genutils==latest
ipywidgets==latest
isort==latest
itemadapter==latest
itemloaders==latest
itsdangerous==latest
jaraco.classes==latest
jedi==latest
jellyfish==latest
Jinja2==latest
jinja2-time==latest
jmespath==latest
joblib==latest
json5==latest
jsonpatch==latest
jsonpointer==2.1
jsonschema==latest
jupyter==latest
jupyter-console==latest
jupyter-events==latest
jupyter-server==latest
jupyter-ydoc==latest
jupyter_client==latest
jupyter_core==latest
jupyter_server_fileid==latest
jupyter_server_ydoc==latest
jupyterlab==latest
jupyterlab-pygments==latest
jupyterlab-widgets==latest
jupyterlab_server==latest
kaleido==latest
keyring==latest
kiwisolver==latest
lazy-object-proxy==latest
lazy_loader==latest
libarchive-c==latest
libmambapy==latest
linkify-it-py==latest
llvmlite==latest
lmdb==latest
locket==latest
lxml==latest
lz4==latest
Markdown==latest
markdown-it-py==latest
MarkupSafe==latest
matplotlib==latest
matplotlib-inline==latest
mccabe==latest
mdit-py-plugins==latest
mdurl==latest
mistune==3.0.2
more-itertools==latest
mpmath==latest
msgpack==latest
multidict==latest
multipledispatch==latest
multiprocess==latest
munkres==1.1.4
mypy-extensions==latest
navigator-updater==latest
nbclassic==latest
nbclient==latest
nbconvert==7.16.3
nbformat==latest
nest-asyncio==latest
networkx==latest
nltk==latest
notebook==latest
notebook_shim==latest
numba==latest
numexpr==latest
numpy==latest
numpydoc==latest
oauth2client==4.1.3
oauthlib==3.2.2
openpyxl==3.0.10
packaging==latest
pandas==latest
pandocfilters==latest
panel==latest
param==latest
parsel==latest
parso==latest
partd==latest
pathlib==latest
pathspec==latest
patsy==0.5.3
pep8==1.7.1
pexpect==latest
pickleshare==latest
Pillow==latest
pipreqs==0.5.0
pkce==latest
pkginfo==latest
platformdirs==latest
plotly==latest
pluggy==latest
ply==3.11
poyo==latest
prometheus-client==latest
prompt-toolkit==latest
Protego==latest
protobuf==4.25.3
psutil==latest
ptyprocess==latest
pure-eval==latest
py-cpuinfo==latest
pyarrow==11.0.0
pyasn1==latest
pyasn1-modules==0.2.8
pycodestyle==latest
pycosat==latest
pycparser==latest
pyct==latest
pycurl==latest
pydantic==latest
pydeck==0.8.1b0
PyDispatcher==2.0.5
pydocstyle==latest
pyerfa==latest
pyflakes==latest
Pygments==latest
PyJWT==latest
pylint==latest
pylint-venv==latest
pyls-spyder==0.4.0
pyobjc-core==latest
pyobjc-framework-Cocoa==latest
pyobjc-framework-CoreServices==latest
pyobjc-framework-FSEvents==latest
pyodbc==latest
pyOpenSSL==latest
pyparsing==latest
PyQt5-sip==12.11.0
pyrsistent==latest
PySocks==latest
pytest==latest
python-dateutil==latest
python-dotenv==latest
python-json-logger==latest
python-lsp-black==latest
python-lsp-jsonrpc==1.0.0
python-lsp-server==latest
python-slugify==latest
python-snappy==latest
pytoolconfig==latest
pytz==latest
pyviz-comms==latest
PyWavelets==latest
PyYAML==latest
pyzmq==latest
QDarkStyle==latest
qstylizer==latest
QtAwesome==latest
qtconsole==latest
QtPy==latest
queuelib==1.5.0
regex==latest
requests==latest
requests-file==latest
requests-oauthlib==2.0.0
requests-toolbelt==latest
responses==latest
rfc3339-validator==latest
rfc3986-validator==latest
rich==13.7.1
rope==latest
rsa==4.9
Rtree==latest
ruamel-yaml-conda==latest
ruamel.yaml==latest
s3fs==latest
safetensors==latest
scikit-image==latest
scikit-learn==latest
scipy==latest
Scrapy==latest
seaborn==latest
Send2Trash==latest
service-identity==latest
sip==latest
six==latest
smart-open==latest
smmap==5.0.1
sniffio==latest
snowballstemmer==latest
sortedcontainers==latest
soupsieve==latest
Sphinx==latest
sphinxcontrib-applehelp==latest
sphinxcontrib-devhelp==latest
sphinxcontrib-htmlhelp==latest
sphinxcontrib-jsmath==latest
sphinxcontrib-qthelp==latest
sphinxcontrib-serializinghtml==latest
spyder==latest
spyder-kernels==latest
SQLAlchemy==latest
stack-data==latest
statsmodels==latest
streamlit==1.32.2
streamlit-folium==0.18.0
StrEnum==0.4.15
sympy==latest
tables==latest
tabulate==latest
tblib==latest
tenacity==latest
terminado==latest
text-unidecode==latest
textblob==0.18.0.post0
textdistance==latest
threadpoolctl==latest
three-merge==latest
tifffile==latest
tinycss2==latest
tldextract==latest
tokenizers==latest
toml==latest
tomlkit==latest
toolz==latest
tornado==latest
tqdm==latest
traitlets==latest
transformers==latest
Twisted==latest
typing_extensions==latest
tzdata==latest
uc-micro-py==latest
ujson==latest
Unidecode==latest
urllib3==latest
w3lib==latest
watchdog==latest
wcwidth==latest
webencodings==0.5.1
websocket-client==latest
Werkzeug==latest
whatthepatch==latest
widgetsnbextension==latest
wrapt==latest
wurlitzer==latest
xarray==latest
xlwings==latest
xxhash==latest
xyzservices==latest
y-py==latest
yapf==latest
yarg==0.1.9
yarl==latest
ypy-websocket==latest
zict==latest
zipp==latest
zope.interface==latest
zstandard==latest
